<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>GREAT QUOTES :) </title>
    
    
    <style>

    *{
    margin: 0;
    padding: 0;
    }


  



    nav{    
    display:inline-flex;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: green;
    /* padding: 5px 6px; */
    }



    nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-left: 744px;
    font-size: 87%;
    
    }

    h3{
        background-color: antiquewhite;
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 20px;

    }
    #h3{
        background-color: bisque;
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 50px;
    }

    #h4{
        background-color: beige;
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
    }

    #h5{

        background-color: aliceblue;
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
    }

    #h6{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: aquamarine;
    }

    #h7{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: aliceblue;
    }

    #h8{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: bisque;
    }

    #h9{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: bisque;
    }

    #h10{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: antiquewhite;
    }

    #h11{
        display: inline-flex;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
      background-color: gainsboro;
    }

    #h12{
        display: inline-flex;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: wheat;
    }

    #h13{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: aquamarine;
    }

    #h14{
        display: inline-block;
        font-size: 30px;
        margin-left: 250px;
        margin-top: 70px;
        background-color: aqua;
    }



@media screen and (max-width:620px)  {
    nav , nav ul{
        flex-direction: column;
        align-items:center;
        position: fixed;
    }
}
    </style>


</head>
<body style="background-size: cover; background-repeat: no-repeat;" background="https://www.tanikal.com/wp-content/uploads/2018/03/beautiful-lake-calm-relaxing-vw.jpg">
    <nav style="background-color: green;"> GREAT QUOTES
       <ul>
            <li><a style="color: white; " href="home.ejs"> HOME </a></li>
            <li><a id="ALL" style="color: white; padding-left: 250px;" href="all-quotes.ejs"> ALL QUOTES</a></li>
            <li><a id="new" style="color: white; padding-left: 50px;"href="new-quotes.ejs">NEW QUOTES</a></li>
        </ul>

    </nav>

    <h3> “Be who you are and say what you feel, <br> because those who mind don't matter,<br> and those who matter don't mind.” <br>
        ― Bernard M. Baruch</h3>
       
    <h3 id="h3">“I'm selfish, impatient and a little insecure. <br> I make mistakes, I am out of control and at times hard to handle. <br> But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.” <br>
        ― Marilyn Monroe</h3>
    
    <h3 id="h4">“Two things are infinite: the universe and human stupidity; <br> and I'm not sure about the universe.” <br>
        ― Albert Einstein</h3>

    <h3 id="h5">“Summer mei Samarth.”<br>
        ― Sam Bhaiya</h3>

    <h3 id="h6">“I am so clever that sometimes I don't understand a single word of what I am saying.” <br>
        ― Oscar Wilde</h3>
    <h3 id="h7">“Friendship ... is born at the moment when one man says to another "What! You too? <br> I thought that no one but myself . . .”
        ― C.S. Lewis</h3>
    <h3 id="h8">“In three words I can sum up everything I've learned about life: it goes on.” <br>
        ― Robert Frost</h3>
    <h3 id="h9">“Yesterday is history, tomorrow is a mystery, today is a gift of God, which is why we call it the present.” <br>
        ― Bill Keane</h3>
    <h3 id="h10">“Whenever you find yourself on the side of the majority, it is time to reform (or pause and reflect).” <br>
        ― Mark Twain</h3>
    <h3 id="h11">“It is better to remain silent at the risk of being thought a fool, than to talk and remove all doubt of it.” <br>
        ― Maurice Switzer</h3>
    <h3 id="h12">“The fool doth think he is wise, but the wise man knows himself to be a fool.” <br>
        ― William Shakespeare</h3>
    <h3 id="h13">“It does not do to dwell on dreams and forget to live.” <br>
        ― J.K. Rowling</h3>
    <h3 id="h14">“It is better to be hated for what you are than to be loved for what you are not.” <br>
        ― Andre Gide</h3>
</body>
</html>